a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {margin: 0; padding: 0; border: 0; font-size: 100%; vertical-align: baseline}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block}
body {line-height: 1}
ol, ul {list-style: none}
body{font-family:"ADELE";}
section{
    width:1120px;
    padding:30px 0;
    margin:20px auto;
    /* border:1px solid black; */
}
#bio{
}
#photos-wrapper{
    width:100%;
    background:rgba(0,0,0,0.6);
    box-shadow:0 0 20px black;
}
#photos{
    overflow:hidden;
}
.photo{
    width:300px;
    height:100px;
    margin:5px;
    background:#ffc312;
    float:left;
}
.long-wrapper{
    width:2000px;
}
.clearfix::after{
    content:" ";
    display:block;
    clear:both;
}
